<h1>restaurants list</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li> <%= link_to restaurant.name, restaurant_path(restaurant) %> </li>
  <% end %>
</ul>
<p> <%= link_to "+ Restaurant", new_restaurant_path %> </p>
